body {
    background: url('https://img.freepik.com/free-vector/drink-ad-milk-company_52683-35014.jpg?ga=GA1.1.700491184.1742067856&semt=ais_hybrid&w=740');
    background-size: cover;
    width: 100%;
    height: 100%;
}